@model List<Order>

<h2>My Game Library</h2>
<a asp-area="Member" asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home Page</a>
<hr />
@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var order in Model)
        {
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-header">
                        Game Name: @order.GameName
                    </div>
                    <div class="card-body">
                        <p class="card-text">Format: @order.OrderType</p>
                        <p class="card-text">Date Added: @order.OrderDate.ToString("d")</p>
                    </div>
                    <div class="card-footer">
                        <a asp-area="Member" asp-controller="Home" asp-action="DownloadGame" asp-route-gameID="@order.Id" class="btn btn-success">Download</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h3>You have no orders.</h3>
}
