@using Microsoft.AspNetCore.Identity
@using PROG3050_HMJJ.Models.Account;
@using PROG3050_HMJJ.Areas.Member.Models;
@using PROG3050_HMJJ.Services;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PROG3050_HMJJ</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/cyborg.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/PROG3050_HMJJ.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        @{
            // Retrieve cart items from session
            var cart = Context.Session.GetObjectFromJson<List<CartItem>>("cart") ?? new List<CartItem>();
            var cartCount = cart.Sum(item => item.Quantity);
        }
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-navbarcolor border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/CVGS_logo.jpeg" title="CVGS" style="background-size:contain;position:relative;width: 120px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
                        {

                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="Admin" asp-controller="Review" asp-action="Reviews">Reviews</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="Member" asp-controller="Home" asp-action="Index">Member</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="Member" asp-controller="Home" asp-action="GetEvents">Your Events</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="Member" asp-controller="WishList" asp-action="WishList">Wish List</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="Member" asp-controller="Home" asp-action="Checkout">
                                        <span class="fa fa-shopping-cart text-white">
                                            @if (cartCount > 0)
                                            {
                                                @cartCount
                                            }
                                        </span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="Member" asp-controller="Home" asp-action="Index">Member</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="Member" asp-controller="WishList" asp-action="WishList">Wish List</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="Member" asp-controller="Home" asp-action="GetEvents">Your Events</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="Member" asp-controller="Home" asp-action="Checkout">
                                        <span class="fa fa-shopping-cart text-white">
                                            @if (cartCount > 0)
                                            {
                                                @cartCount
                                            }
                                        </span>
                                    </a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        }
                        
                    </ul>
                </div>
            </div>
            <partial name="_LoginPartial"/>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PROG3050_HMJJ - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
