@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-left">
    <h1 class="display-4">Admin Panel</h1>
</div>

<div class="row">
    <div class="card mt-2 pt-2" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Games collections</h5>
            <a asp-controller="Games" asp-action="Index" class="btn btn-primary">Games</a>
        </div>
    </div>

    <div class="card mt-2 pt-2" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Events</h5>
            <a asp-controller="Events" asp-action="Index" class="btn btn-primary">Events</a>
        </div>
    </div>
</div>
