@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-left">
    <h1 class="display-4">Admin Panel</h1>
</div>

<div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">Games collections</h5>
        <a asp-controller="Game" asp-action="Index" class="btn btn-primary">Games</a>
    </div>
</div>