@page
@using PROG3050_HMJJ.Areas.Member.Models;
@using PROG3050_HMJJ.Models;
@model PreferencesModel;

@{
    ViewData["Title"] = "Preferences";
    ViewData["ActivePage"] = ManageNavPages.Preferences;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="preferences-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.SelectedPlatformsIDList" class="control-label">Favourite Platforms</label>
                <select asp-for="Input.SelectedPlatformsIDList" asp-items="Model.PlatformList" class="form-control" multiple>
                </select>
                <span asp-validation-for="Input.SelectedPlatformsIDList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.SelectedGenresIDList" for="genres" class="control-label">Favourite Genres</label>
                <select asp-for="Input.SelectedGenresIDList" asp-items="Model.GenreList" class="form-control" multiple>
                </select>
                <span asp-validation-for="Input.SelectedGenresIDList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LanguagesID" class="control-label">Language</label>
                <select asp-for="Input.LanguagesID" asp-items="Model.LanguageList" class="form-control">
                </select>
                <span asp-validation-for="Input.LanguagesID" class="text-danger"></span>
            </div>
            <button id="update-preferences-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        new MultiSelectTag('Input_SelectedPlatformsIDList');  // id
        new MultiSelectTag('Input_SelectedGenresIDList');  // id
    </script>
}