@model WishLists
@{
    ViewData["Title"] = "Wish List";
}

<h1>@ViewData["Title"]</h1>

@if(Model.WishListItems.Count == 0)
{
    <p class="center">There are no games on your wish list</p>
}
else
{
    <table class="table">
        <tr>
            <th>Game Title</th>
            <th>Price</th>
        </tr>

        @foreach(var game in Model.WishListItems)
        {
            <tr>
                <td><a asp-area="Member" asp-controller="Home" asp-action="Details" asp-route-id="@game.Game.ID">@game.Game.Title</a></td>
                <td>$@game.Game.Price</td>
            </tr>
        }
    </table>
}