@page
@model LockoutModel
@{
    ViewData["Title"] = "This account has been locked out, please try again later in 15 Minutes.";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
</header>
