@page
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model RegisterModel
@{
    ViewData["Title"] = "Register An Account";
}
<style>
    /* Add this CSS style within your HTML file or in your CSS stylesheet */
    bgimage {
        image: url('https://media.gq-magazine.co.uk/photos/645b5c3c8223a5c3801b8b26/16:9/w_2560%2Cc_limit/100-best-games-hp-b.jpg');
        background-size:contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="row" style="height: 85vh;">
    <div class="col-md-4">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.UserName"></label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="g-recaptcha" data-sitekey="6LcIS5koAAAAAGzVFBP1fgwPXQkXfM1fxsYlDuLf"></div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="" alt="Side Image" class="img-fluid" />
        </div>
</div>
@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://www.google.com/recaptcha/api.js?render=6LcIS5koAAAAAGzVFBP1fgwPXQkXfM1fxsYlDuLf"></script>
}