@{
    ViewData["Title"] = "Report Page";
}
<h1>Download Reports</h1>
<div>
    <div class="card mt-2 pt-2" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Download Member Details Report</h5>
            <a asp-controller="Report" asp-action="GetMemberDetails" class="btn btn-primary">Download</a>
        </div>
    </div>
    <div class="card mt-2 pt-2" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Download Member List Report</h5>
            <a asp-controller="Report" asp-action="GetMemberList" class="btn btn-primary">Download</a>
        </div>
    </div>
    <div class="card mt-2 pt-2" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Download Game Details Report</h5>
            <a asp-controller="Report" asp-action="Index" class="btn btn-primary">Download</a>
        </div>
    </div>
    <div class="card mt-2 pt-2" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Download Game List Report</h5>
            <a asp-controller="Report" asp-action="Index" class="btn btn-primary">Download</a>
        </div>
    </div>
</div>
