@model List<PROG3050_HMJJ.Areas.Admin.Models.Event>

<div class="overflow-auto">

    @foreach (var eve in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@eve.Name</h5>
                <p class="card-text">
                    @eve.Location
                </p>

                <p class="card=text">
                    @eve.StartDate
                </p>

                <form method="post" asp-action="RegisterEvent" asp-controller="Home" asp-area="Member">
                    <button type="submit" asp-area="Member" asp-action="RegisterEvent" asp-controller="Home" class="btn btn-primary" asp-route-id="@eve.eventID">Register</button>
                </form>
            </div>
        </div>
    }
</div>
